# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
aihwkit_env/
env/

# Data files
data/
*.npy
*.pth
results/*.npy
results/*.pth
laere_analog_export/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

